<div class="container">
    <div class="row p-0 m-0">
        <h3 class="text-center p-3"> Testing Completed </h3>
        <hr>
        <h4 class="text-center p-3">You answered @Model.Accepted out of @Model.QuestionsCount correctly.</h4>
    </div>
    <div class="text-center m-3">
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</div>